<div class="modal-header">
  <h2 style="text-align: center">Introduce {{name}}</h2>
  <button class="btn-close" type="button" (click)="activeModal.close()"></button>
</div>

<div class="modal-body">
  <input type="{{isNumber ? 'number' : 'text'}}"
         [appFocus]=""
         [value]="defaultValue"
         #inputName
         class="form-control"
         placeholder="{{name}}"/>
</div>

<div class="modal-footer modal-footer-buttons-ok-cancel">
  <button class="btn btn-primary" (click)="onSelected()">✓ Ok ✓</button>
</div>
