* {
  font-family: sans-serif;
}

body {
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 6%;
  color: white;
  background-color: #011a30;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  grid-column: 1;
}

.toolbar h2 {
  margin-top: 10px;
  width: 50%;
  font-size: x-large;
  margin-left: 2%;
}
